@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

.load-btn {
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    min-height: 40px;
    background-color: #fff;
    color: #666;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    border: 1px solid #eaeaea;
    padding: 6px 10px;
    border-radius: 2px;
    font-weight: 600;
    transition: all 0.3s ease;
    &:hover {
        background-color: #e34444;
        color: #fff;
    }
}

.product {
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: inherit;
    }
    &--sale {
        .product__sale {
            position: absolute;
            background-color: #e34444;
            top: 8px;
            right: -33px;
            width: 100px;
            height: 12px;
            font-size: 1rem;
            color: #fff;
            text-align: center;
            line-height: 1.2rem;
            transform: rotate(45deg);
            display: block !important;
        }
        .product__price {
            .old-price {
                font-size: 1.2rem;
                text-decoration: line-through;
                margin-right: 10px;
                display: inline-block !important;
            }
        }
    }
    .product-img-info {
        position: relative;
        overflow: hidden;
        .product__link {
            position: relative;
            overflow: hidden;
            display: block;
            border: 1px solid #eaeaea;
            text-align: center;
            img {
                width: 100%;
            }
            .product__sale {
                display: none;
            }
        }
        .item-box-hover {
            .cart-wrap {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 35px;
                height: 35px;
                text-align: center;

                background-color: #333;
                color: #fff;

                line-height: 35px;
                font-size: 1.2rem;
                font-weight: 600;
                
                cursor: pointer;
                transform: translateX(100%);
                transition: all 0.4s ease;
                i {
                    margin-right: 5px;
                }
                &:hover {
                    background-color: #e34444;
                    i {
                        animation: horizontal 2s ease infinite;
                    }
                }
            }
            .box-inner {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 35px;
                justify-content: space-between;
                line-height: 35px;
                transform: translateX(-100%);
                transition: all 0.4s ease;
                &__item {
                    $width: 5px;
                    position: relative;
                    width: 33.333%;
                    height: 100%;
                    text-align: center;
                    &::before {
                        position: absolute;
                        content: '';
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        border: $width solid transparent;
                        border-top-color: #e34444;
                        content: " ";
                        height: 0;
                        width: 0;
                        z-index: 1;
                        transition: all 0.2s ease;
                        @include hidden;
                    }
                    .icon-script {
                        $height: 20px;
                        position: absolute;
                        display: inline-block;
                        bottom: calc(100% + 2 * #{$width});
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #e34444;
                        white-space: nowrap;
                        font-size: 1.2rem;
                        color: #fff;
                        height: $height;
                        line-height: $height;
                        padding: 0 5px;
                        border-radius: 4px;
                        transition: all 0.2s ease;
                        @include hidden;
                    }
                    &:hover {
                        color: #e34444;
                        .icon-script {
                            @include show;
                        }
                    }
                    &:hover::before {
                        @include show;
                    }
                }
                .compare {
                    border-left: 1px solid #eaeaea;
                    border-right: 1px solid #eaeaea;
                }
            }
        }
        &:hover {
            .item-box-hover {
                .cart-wrap,
                .box-inner {
                    transform: translateX(0);
                }
            }
        }
    }
    .product__name {
        display: block;
        color: #666;
        text-align: center;
    }
    .product__price {
        text-align: center;
        .old-price {
            display: none;
        }
        .new-price {
            font-weight: 800;
            color: #333;
        }
    }
}
.product__rating {
    text-align: center;
    font-size: 1.2rem;
    .fa-star--gold {
        color: #f1d201;
    }
    .fa-star-half-alt {
        color: #f1d201;
    }
}